h1{
    font-size:3rem!important;
    color:white!important;
    background-color:#3f51b5;
    border: 5px ridge #3f51b5;
    border-radius:10px;
    text-align:center;
    font-weight:bold;
}

h2{
    font-size:2rem!important;
    color:white!important;
    background-color:#42bef6;
    border: 5px ridge #42bef6;
    border-radius:10px;
    text-align:center;
}


h3{
    font-size:1rem!important;
    color:brown!important;
    background-color:yellow;
    border: 5px ridge #ffba62;
    border-radius:10px;
    text-align:center;
    margin:1rem auto!important;  
}


h4{
    font-size:0.9rem!important;
    color:#1B019B!important;
    background-color:orange;
    border: 5px ridge #1B019B;
    border-radius:10px;
    text-align:center;
    margin:1rem 0!important; 
    width: 50%; 
}




/**************************************/
/*   Numéroter                        */
/*************************************/


body{counter-reset: section;}
h2{ 
    counter-increment: section;
    counter-reset: soussection;
}
h2::before {
    display: inline!important;
  content:  counter(section) ". "!important;
}
h3{
 counter-increment: soussection;
 counter-reset: soussoussection;
}
h3::before {
  display: inline!important;
  content:  counter(section)"."counter(soussection) ". "!important;
}
h4{
 counter-increment: soussoussection;
}
h4::before {
  display: inline!important;
  content:  counter(section)"."counter(soussection) "."counter(soussoussection)". "!important;
}


@media print {

    h1{
        font-size:20pt!important;
        color:black!important;
        background-color:white!important;
        border: 1px solid black;
        border-radius: 0px;
        text-align:center;
        font-weight:bold;
    }
    
    h2{
        font-size:12pt!important;
        color:black!important;
        background-color:white!important;
        border: 1px dashed #aaa;
        border-radius:3pt;
        text-align:center;
    }


    .solution{
        display: none!important;
    }
}






 
 
