h1{
	font-size:3rem!important;
	color:white!important;
	background-color:#3f51b5;
	border: 5px ridge #3f51b5;
	border-radius:10px;
	text-align:center;
	font-weight:bold;
}

h2{
	font-size:2rem!important;
	color:white!important;
	background-color:#42bef6;
	border: 5px ridge #42bef6;
	border-radius:10px;
	text-align:center;
}




@media print {

    *{
        font-size: 10pt!important;
    }

    h1{
        font-size:20pt!important;
        color:black!important;
        background-color:white!important;
        border: 1px solid black;
        border-radius: 0px;
        text-align:center;
        font-weight:bold;
    }
    
    h2{
        font-size:12pt!important;
        color:black!important;
        background-color:white!important;
        border: 1px dashed #aaa;
        border-radius:6pt;
        text-align:center;
    }


    .solution{
        display: none!important;
    }
}




@page {
    size: a4 portrait;
    margin: 20mm 10mm 20mm 10mm;
     
     
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    white-space: pre;
    color: grey;
    @bottom-left {
        font-size: 5pt; 
        content: 'NSI';
    }
    @bottom-right {
        font-size: 5pt; 
        content: 'LPA';
    }
     
}

 
 
